#settingPassword {
  display: flex;
  flex-direction: column;
  background: rgba(10, 14, 49, 0.79);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(10, 14, 49, 0.49);
  width: 100%;
  height: 70%;
  padding-top: 10px;
}

#settingPassword div {
  display: flex;
  justify-content: space-between;
  padding: 0px 150px 5px 50px;
}

#settingPassword p {
  font-size: 18px;
}

#settingPassword input {
  width: 20px;
}

#settingPassword input.passwordLength {
  width: 15vw
}

#valveSlider {
  font-size: 18px;
  margin-left: 10px;
}

#generateInput {
  font-size: 20px;
  font-family: "Signika Negative", sans-serif;
  color: white;
  width: 30%;
  height: 20%;
  margin: auto;
  margin-bottom: 20px;
  background: rgba(54, 54, 54, 0.9);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(121, 93, 93, 0.1);
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(54, 54, 54, 0.49);
}

#generateInput:hover {
    background-color:#242424 ;
}
